extends ./layout.jade

block content
    form(action='/users',method='post')
        div(class='form-group')
            label(for='email') E-mail:
            input(class='form-control',id='email',type='text',value='',placeholder='E-mail',name='email')
        div(class='form-group')
            label(for='password') Password:
            input(class='form-control',id='password',type='password',value='',placeholder='*****',name="password")
        div(class='form-group')
            label(for='password') confirma password:
            input(class='form-control',id='password_',type='password',value='',placeholder='*****',name="password_confirmation")
        div(class='form-group')
            input(type='submit',class='btn btn-info',value='Iniciar sesión')